html, body {
  margin: 0;
  padding: 0;
  font-family: Monospace;
}

body {
  /*background-image: url("http://www.wallpaperspictures.net/image/eastern-california-mojave-desert-wallpaper-for-1920x1200-widescreen-500-11.jpg");  */
}

.container {
  text-align: center;
  background-color: #FFFAFA;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: 300px;
  margin-left: 300px;
}


## Navigation Bar

.nav_container {
    text-align: center;
}

.nav_container div {
    display: inline-block;
    margin-top: 30px;
    padding:  20px;
}

.nav_container a {   
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.page_link a { color: #262626; }
.page_link a:hover { color: #FF00CC; }
.page_link a:active { color: #999999; }

##

h1 {
	font-size: 18px;
}

.contacts div {

}

.contacts img {
  height:50px;
  weight:50px;
}

img.selfie {
  height: 150px;
  width: 205px;
}

a.sectionTitle {
  font-size: 20px;
}

a.sectionText {
  font-size: 10px;  
}

.talkself {
  font-family: Monospace;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
}

.talkself a { color: #262626; }
.talkself a:hover { color: #FF00CC; }
.talkself a:active { color: #999999; }


.creds { 
  color: #a8a8a8;
  font-size: 10px;
}
.creds a { color: #a8a8a8; }
.creds a:hover { color: #FF00CC; }
.creds a:active { color: #999999; }
