 html, body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: #FFFAFA;
  margin-top: 130px;
  margin-bottom: 230px;
  margin-right: 330px;
  margin-left: 330px;
  padding-bottom: 20px;
}


## Navigation Bar

.nav_container {
  text-align: center;
}

.nav_container div {
  display: inline-block;
  padding:  20px;
}

.nav_container a {   
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.page_link a { color: #262626; }
.page_link a:hover { color: #FF00CC; }
.page_link a:active { color: #FF00CC; }

/*Icons*/

.icons_container { padding: 25 25;}

#gmail { height:50px ; weight:50px; padding: 0px 5px;}
#twitter { height:50px; weight:50px; }
#github { height:50px; weight:50px; }
#linkedin { height:50px; weight:50px;}


#twitter:hover {
  height:30px;
  weight:30px;
  padding: 7.5px 6.5px;
}

/*Body text*/

.talkself {
  font-family: Monospace;
  font-size: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.talkself a { color: #262626; }
.talkself a:hover { color: #FF00CC; }
.talkself a:active { color: #999999; }


.creds { 
  color: #a8a8a8;
  font-size: 10px;
  font-family: Monospace;
}

.creds a { color: #a8a8a8; }
.creds a:hover { color: #FF00CC; }
.creds a:active { color: #999999; }
